body, html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  height: 100%;
  width: 100%;
    background: #fff;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 30vw;
  height: 80vh;
  margin: 0 auto;
}

.upper-app-container {
  height: 25vh;
  background: linear-gradient(135deg, #C33764 0%, #1D2671 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.3), 2px 0px 10px 0px rgba(0,0,0,0.3);
}

.upper-app-container a {
  position: relative;
  top: 58px;
}

.bottom-app-container {
  margin-top: -15px;
  background: #fafafa;
}

.app-title {
  color: #fafafa;
  font-size:36px;
  letter-spacing: 2px;
  font-weight: 700;
  padding-top: 20px;
  left: -120px;
  top: 20px;
  
}

i.material-icons.left {
  margin: 0;
}

.deleteBtn {
  background:#fff;
  color:grey;
}

.deleteBtn:hover {
  background: #f44336;
  color: #fff;
}

.completeBtn {
  background:#fff;
  color: grey;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.completeBtn:hover {
  background: #00e676;
  color: #fff;
}

.changeCompleteBtn {
  background:#00e676   ;
  color: #fff;
}

.single-task {
  display: flex;
  align-items: flex-end;
  background: #fafafa;
  width: 30vw;
  padding: 2px 20px;  
}

.bottom-app-container ul {
  box-shadow: -2px 0px 10px 0px rgba(0,0,0,0.05), 2px 0px 10px 0px rgba(0,0,0,0.05);
  min-height: 50vh;
  padding-top: 30px;
  margin-bottom:100px;
  }

.single-task a {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  padding: 5px;
  width: 34px;
  height: 30px;
  transform: scale(0.8);
}

.strike-text{
  text-decoration: line-through;
}
